<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration panel</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">
</head>
<body>

<form action="#" th:action="@{/create/owner}" th:object="${registrationDTO}" method="POST">
    <div class="container">
        <div class="row mt-3">
            <div class="col-md-6">
                <h1>Create new account</h1>
                <p>Please enter data:</p>
                <div th:object="${ownerRequestDTO}">
                    <div class="row mt-3">
                        <div class="col-md-3">
                            <label for="ownerName">Owner name:</label>
                        </div>
                        <div class="col-md-3">
                            <input type="text" id="ownerName"
                                   th:field="*{ownerName}" required>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-3">
                            <label for="ownerSurname">Owner surname:</label>
                        </div>
                        <div class="col-md-3">
                            <input type="text" id="ownerSurname"
                                   th:field="*{ownerSurname}" required>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-3">
                            <label for="ownerPhone">Phone number:</label>
                        </div>
                        <div class="col-md-3">
                            <input type="text" id="ownerPhone"
                                   th:field="*{ownerPhone}" required>
                        </div>
                    </div>
                </div>
                <div th:object="${userDTO}">
                    <div class="row mt-3">
                        <div class="col-md-3">
                            <label for="email">Email</label>
                        </div>
                        <div class="col-md-3">
                            <input type="email" id="email" th:field="*{email}"/>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-3">
                            <label for="password">Password</label>
                        </div>
                        <div class="col-md-3">
                            <input type="password" id="password" th:field="*{password}"/>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-3">
                                <label for="confirmPassword" >Confirm password</label>
                            </div>
                            <div class="col-md-3">
                                <input type="password" id="confirmPassword" th:field="*{matchingPassword}"/>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="container">
                    <div class="row mt-3">
                        <div class="col-md-4">
                            <input type="submit" value="Create!" class="btn btn-success">
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="row mt-3">
                        <div class="col-md-4">
                            <a th:href="@{/}" class="btn btn-info" role="button">Go back to the main page</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>