<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Home Page</title>
</head>

<body>
<section layout:fragment="section" class="py-5 bg-light">
    <div  class="container px-5 my-5">
        <h2 class="display-4 fw-bolder mb-4">Order your favourite food!</h2>
        <a class="btn btn-lg btn-primary" th:href="@{/find}">Find</a>
    </div>
</section>
</body>
</html>
