<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Login page</title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <section layout:fragment="section" class="py-5 bg-light">
        <div class="login-form">
            <form th:action="@{/login}" th:object="${loginDTO}" method="post">
                <div class="container">
                    <h1>Login page</h1>
                    <div class="row mt-3">
                        <div class="col-md-4">
                            <label for="email">Email</label>:
                            <input type="text" id="email" th:field="*{email}" name="email" autofocus="autofocus" required/>
                            <br/>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-4">
                            <label for="password">Password</label>:
                            <input type="password" id="password" th:field="*{password}" name="password" required/> <br/>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-4">
                            <input type="submit" value="Log in!" class="btn btn-success">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</main>
</body>
</html>
